*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-image: url(/img/pexels-maksim-romashkin-7108218.jpg);
    height: 615px;
    background-size: cover
}
.navbar{
    width: 80%;
    margin:0 auto;
    padding-top: 30px;
}

.navbar ul{
    text-align: center;
    align-items: center;

}
.navbar ul li{
    list-style: none;
    color: aliceblue;
    font-size: 150%;
    display: inline;
    padding: 60px;   
    padding-top: 60px;
}
 .home{
     height: 80%;
     width: 90%;
     margin: 0 auto;
     position: relative;
 }
 .info{
    animation: jump 2.5s ease-in-out infinite;
 }
 img.jucie{
    position: absolute;
    left: 415px;
    display: inline-block;
    height: 500px;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
}

.left{
    position: absolute;
    left: 70px;
    top: 80px;
    color: aliceblue;
}
.right{
    position: absolute;
    right: 70px;
    bottom: 80px;
    color: aliceblue;
}
.bottom{
    position: absolute;
    top: 250px;
}
.bottom h1{
    font-size: 70px;
    color:rgb(245, 195, 88);
}
.about{
    min-height: 100vh;
    padding: 100px;
    display: flex;
}

.content_left img{
   height: 350px;
   width: 400px;
   padding-left: 90px;
}
.content_right{
   padding: 37px 50px 0 140px;
 
}
.grey{
    color: rgb(102, 102, 102);
}

.box{
    display: flex;
}
.under_img{
    width: 25%;
    min-height: 390px;
    background-color: rgb(252, 184, 57);
    display: flex;
    margin: -375px 55px;
}
.on_img{
    width: 40px;
    height: 115px;
    display: flex;
    background-color: rgb(226, 3, 3);
    margin-left: -20px;
    margin-top: 120px;


}

.clr{
    clear: both;
}
.drinks{
    min-height: 100vh;
    padding: 0 100px 100px 100px ;
    display: flex;
}
.interier{
    min-height: 130vh;
    background-color: black;
}
.about-interier{
    padding: 100px 0 30px 50px;
    color: white;
}
.about-interier h6{
    padding: 25px 0 40px 0;
    letter-spacing: 1px;
    word-spacing: 0.5px;
}
.interier-pics{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
   
    
}
.interier-card{
    background-image: linear-gradient(
90deg,#ffd800,0,#ffd800,85%,transparent 85%);
    padding: 30px;
    justify-content: space-between;
    height: 400px;
    width: 372px;
    
}
.interier-card img{
    object-fit: cover;
    height: 400px;
    width: 320px;
    margin-bottom: -3;
}

.contact{
    background-color: rgb(245, 195, 88);
    min-height: 70vh;
    padding: 100px;
    display: flex;
}
.box2{
    display: flex;
    margin:95px 0 0 200px;
}
.right_email input{
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.left_joinletter{
     margin-top: 80px;
}
.under_input{
    width: 250px;
    height: 50px;
    display: flex;
    background-color: rgb(226, 3, 3);
    margin-left: -10px;
    margin-top: -30px;


}

/* BUTTON */
span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    top: 6px;
   
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "SUBMIT";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: rgb(0, 0, 0);
    background: rgb(245, 195, 88);
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(245, 195, 88);
    background: rgb(0, 0, 0);
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
/* BUTTON */
  
  